<div class="diary-show-top">
  <h1>活動日記詳細画面</h1>
  <p><%= @diary.title %></p>
  <p><%= @diary.user.name %></p>
</div>

<table>
  <tr>
    <th><h1>@diary.title</h1></th>
  </tr>

  <tr>
    <th><h1>@diary.title</h1></th>
  </tr>
</table>
