.show-content {
  max-width: 100%;
  width: 70%;
  margin-left: 15%;
}

.show-content-area {
  margin-top: 5%;
}

.show-textarea {
  text-align: left;
  margin-left: 10%;

  p {
    min-width: 100%;
  }
}

.diary-tags-field {
  margin-top: 5%;
}

.diary-tags-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;

  p {
    padding: 5px;
    margin-right: 10px;
    border: solid black 0.1px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    max-height: 30px;
  }
}

.show-title {
  width: 60%;
}

.sub-image-field {
  margin-top: 5%;
}

#favorite_btn {
  float: left;
}

.show-user {
  float: left;
  padding-right: 20px;
}

.diary-show-comment {
  margin-top: 5%;
  padding-bottom: 100px;
}

.diary-show-comment-area {
  border: dashed red;
  min-height: 300px;
}

.sub-image-field {
  width: 100%;
  height: 100%;
  position: relative;
}

.sub_image_box {
  width: 190px;
  height: 150px;
  margin: 1%;
  display: inline-block;
}

.sub_image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0,auto;
}
