.new-body{
  margin-top: 10%;
  position: relative;
  width: 70%;
  height: auto;
  min-height: 100%;
}

.new-top{
  margin-top: 10%;
  margin-left: 10%;

}

.new-body p{
  margin-bottom: 10px;
}

.new-content{
  text-align: left;
  // position: absolute;
  margin-top: 3%;
  padding-left: 15%;

}

#diary_title{
        width: 800px;
        height: 40px;
    }

.new-activity_date-content select{
        width: 100px;
        height: 30px;
}

#diary_content {
        width: 800px;
        height: 300px;
    }

.ui-autocomplete-input{
  width: 800px;
  height: 40px;
  margin-bottom: 5%;
}

.diary-image-field{
  border:dashed white;
  text-align: center;
}

.add-sub-image{
  text-align: center;
}

.sub-images{
  width: 20%;
}

.new-submit{
  margin-top: 50px;
}
