.header_bottom{
  margin-bottom: 15%;
}

.session_content{
  text-align: center;
}

.session_back{
  width: 500px;
  margin: auto;
  background-color: #FFE4B5;
  border: thick double black;
  border-radius: 0.8em;
}

.session_body{
  background-image: image-url("session_back.JPG");
  background-size: cover;
}
