.top_body {
  background-image: image-url("top_background_image.jpg");
  background-size: cover;
}

.top_content {
  height: 600px;
  width: 100%;
  text-align: center;
}

.main_logo {
  margin-top: 300px;
}

.top_link {
  margin-top: 120px;
}

.gest_link{
  position: absolute;
  bottom: 120px;
  right:0;
}
