.user-index-show{
  width: 19%;
  max-height: 20%;
  text-align: center;
  display: inline-block;
  border: 2px solid;
  background-color: #DCDCDC;
  margin-top: 5px;
}

.user-index-img{
  max-height: 100%;
  object-fit: cover;
}
